@if (_vehicle != null)
{
    <div class="col mt-5">
        <div class="card rounded-3 vehicle-card">
            <div class="card-header py-3">
                <h4>@_vehicle.Make @_vehicle.Model</h4>
            </div>
            <div class="card-body vehicle-card">
                <div class="col row">

                    <div class="col-12 col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Registration</label>
                            <div class="col-sm-7">
                                <label type="text" class="form-control-plaintext">@_vehicle.Registration</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Manufacturer</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@_vehicle.Make</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Model</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@_vehicle.Model</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Colour</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@_vehicle.PrimaryColour</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">MOT Expiry Date</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@_vehicle?.MotTests?.FirstOrDefault()?.ExpiryDate.Value.ToShortDateString()</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Mileage at last MOT</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@_vehicle?.MotTests?.FirstOrDefault()?.OdometerValue</label>
                            </div>
                        </div>

                    </div>
                </div>

                <button class="btn btn-outline-primary btn-sm mb-1" @onclick="(() => NavigateToDetails(_vehicle))">MOT History</button>

            </div>
        </div>
    </div>
}
